{% extends 'registration/auth_base.html' %}
{% load widget_tweaks %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
{% if messages %}
  {% for message in messages %}
  {% if message.tags %}
    {% if message.tags == 'error' %}
    <p class="text-xs-center text-danger">{{message}}</p>
    {% else %}
    <p class="text-{{ message.tags }}">{{message}}</p>
    {% endif %}
  {% endif %}
  {% endfor %}
{% else %}
  <p class="text-xs-center">Iniciar Sesión</p>
{% endif %}


<form id="" action="" method="POST">
  {% csrf_token %}
  <div class="form-group"> <label for="{{form.username.auto_id}}">Nombre de Usuario</label> {{ form.username | append_attr:"class:form-control underlined" }} </div>
  <div class="form-group"> <label for="{{form.password.auto_id}}">Contraseña</label> {{form.password | append_attr:"class:form-control underlined" }} </div>
  <div class="form-group">
    <button type="submit" class="btn btn-block btn-primary">Iniciar Sesión</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  <!-- <div class="form-group">
    <p class="text-muted text-xs-center">Do not have an account? <a href="#">Sign Up!</a></p>
  </div> -->
</form>


{% endblock %}
